<section id="contact">
  <div>
    <section class="form-copy">
      <h2>Say Hello</h2>
      <p>It's fun making things! maybe we can team up and do something great"
      <div class="social-media">
        <a href="https://www.linkedin.com/in/alec-alegria-aaba4596/" class="link-primary">linkedin</a>
        <a href="https://www.behance.net/alecaaron" class="link-primary">Behance</a>
        <a href="https://www.github.com/alecaaron" class="link-primary">Github</a>
      </div>
    </section>
  <form id="contact-form" action="sendMail" method="POST">
    <section class="form-wrapper">
      <div class="form-user-info">

        <span class="form-field">
          <label for="name">Name</label>
          <input id="name" type="text" name="name" required/>
        </span>

        <span class="form-field">
          <label for="email">Email</label>
          <input id="email" type="email" name="email" required/>
        </span>

      </div><!--end user info input-->

      <span class="form-field form-user-message">
        <label for="message">Message</label>
        <textarea id="message" placeholder="Write your message" name="message" required></textarea>
      </span>
    </section>
    <button type="submit" id="form-submit" class="btn-white btn-lrg">Send Message</button>
  </form>
  </div>
</section>
