<div class="nav-wrapper">
  <nav id="nav-bar" role="navigation">
    <a class="nav-bar--title" href="/">
      <img class="nav-bar--logo" src="/public/img/AlecAlegria_logo-01.png" alt="Alec Aaron | Logo" />
      <p class="nav-bar--name">Alec Aaron</p>
    </a>
    <!-- <span>
      <span><img src="#" alt="menu button"/></span> -->
      <ul class="main-nav">
        <li class="main-nav--li"><a class="main-nav--a" href="/">Home</a></li>
        <li class="main-nav--li"><a class="main-nav--a" href="/#work">Work</a></li>
        <li class="main-nav--li"><a class="main-nav--a" href="/resume">Resume</a></li>
        <li class="main-nav--li"><a class="main-nav--a" href="#contact">Contact</a></li>
      </ul>
    <!-- </span> -->
  </nav>
</div>
