<%- include components/header.ejs %>
<%- include components/nav-bar.ejs %>
  <section id="intro">
    <div class="rellax-el" data-rellax-speed="1.5">
      <h1>Alec Alegria</h1>
      <h2>
        <span class="subheader-break">Product Designer</span>
        <span class="subheader-break">in Austin, Texas</span>
      </h2>
      <div class="intro-cta">
        <a href="#work" class="btn-gold">Projects</a>
        <a href="#contact" class="btn-white">Let's Talk</a>
      </div>
    </div>
  </section><!--end #intro-->


  <section id="work">
    <!-- <div class="work-sample-group">
      <a href="#" class="work-sample-large">
        <img src="/public/img/work-1.jpg" alt="work-preview"/>
      </a>
      <a href="#" class="work-sample-small">
        <img src="/public/img/work-2.png" alt="work-preview"/>
      </a>
      <a href="#" class="work-sample-small">
        <img src="/public/img/work-3.png" alt="work-preview"/>
      </a>
      <a href="#" class="work-sample-small">
          <img src="/public/img/work-6.png" alt="work-preview"/>
      </a>
      <a href="#" class="work-sample-small">
          <img src="/public/img/work-7.png" alt="work-preview"/>
      </a>
      <a href="#" class="work-sample-large">
          <img src="/public/img/work-5.png" alt="work-preview"/>
      </a>
    </div> -->
    <div class="work-sample-group">
      <div class="work-sample-large">
        <img src="/public/img/work-1.jpg" alt="work-preview"/>
      </div>
      <div class="work-sample-small">
        <img src="/public/img/work-2.png" alt="work-preview"/>
      </div>
      <div class="work-sample-small">
        <img src="/public/img/southpaw-group.png" alt="work-preview"/>
      </div>
      <div class="work-sample-small">
        <img src="/public/img/work-6.png" alt="work-preview"/>
      </div>
      <div class="work-sample-small">
        <img src="/public/img/ipad-obm.png" alt="work-preview"/>
      </div>
      <div class="work-sample-large">
        <img src="/public/img/lfrgv_mobile.png" alt="work-preview"/>
      </div>
    </div>
  </section>
  <div class="intro--divider">
    <h2>Case Studies</h2>
  </div>
  <section id="stories">
    <div>

      <div class="case-studies-group">
        <div class="case-study">
          <div class="case-image-wrap">
            <img src="public/img/lfrgv.png" class="case-image" alt="case study image"/>
          </div>
          <div class="case-about">
            <h3>LFRGV Rebranding & UI Design</h3>
            <p>A restructured organization to better relate to the community and increase recognition.</p>
            <a href="https://medium.com/@alecaaron/loaves-fishes-re-branding-ui-design-ee5f98ecdcd7" class="btn-blue"/>Read More</a>
          </div><!--end .case-about-->
        </div><!--end .case-study-->
      </div>

    </div>

  </section>

<%- include components/contact-form.ejs %>
<%- include components/scripts.ejs %>
</body></html>
