<% include components/header %>
<% include components/nav-bar %>
<section class="projects-header">
<div class="projects-title">
  <h1>This Project is</h1>
    <h3>Role Played</h3>
    <p>UI Designer</p>
</div>
<div class="Porjects-hero">

</div>
</section>
