@import '../base/colors';

%btn-extend{
  border-radius: 50px;
  border: 2px solid;
  color: $color-primary;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  font-family: $san_serif;
  padding: .50rem 1.25rem;
  text-align: center;
  text-decoration: none;
  width: 8em;
}

.btn-lrg{
  width: 12em;
}

@media (max-width: 47em){
  %btn-extend{
    font-size: 1rem;
  }
}

.btn{
  $transition: all .15s;
  &-primary{
    @extend %btn-extend;
    background: $color-primary-light;
    border-color: $color-primary-light;
    color: white;
    &-outline{
      @extend .btn-primary;
      background: inherit;
      border: 2px solid $color-primary-light;
      color: $color-primary-light;
      transition: $transition;
      &:hover{
        transition: $transition;
        @extend .btn-primary;
      }
    }
  }
  &-gold{
    @extend %btn-extend;
    background: $color-accent;
    border-color: $color-accent;
    color: white;
    &-outline{
      @extend .btn-gold;
      background: none;
      border: 2px solid $color-accent;
    }
  }
  &-white{
    @extend %btn-extend;
    background: white;
    color: $color-primary;
    border-color: white;
    &-outline{
      background: none;
      border: 2px solid white;
    }
  }
}

a{
  text-decoration: none;
  font-family: $san_serif;
  font-weight: bold;

  &.link-primary{
    color: $color-primary;
  }

  &.link-secondary{
    color: $color-accent;
  }

}
