.tag{
  border-radius: 2px;
  background-color: #E8EAF5;
  display: inline-block;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  font-style: light;
  padding: .2em .5em .2em .5em;
  position: relative;
  margin: .25em;
  width: auto;
}

.tag-wrapper{
  display: inline-block;
  width: auto;
  position: relative;
}

@media (max-width: 47rem){
  .tag{
    font-size: 1rem;
  }
}
