// Colors

// $color-primary-light: #5B658E;
// $color-primary: #404754;
// $color-primary-dark: #343A45;


// $color-accent: #C6986B;
$color-primary: #336667;
$color-primary-light: #6E98AE;

$color-accent-light: #E5C4A1;
$color-accent: #d6a470;
// $color-primary-dark: #343A45;
