// define custom font

$serif: "Merriweather", serif;
$san_serif: "Montserrat", sans-serif;

//set font-family
html{
font-size: 14px;
font-family: $san_serif;
font-weight: normal;
line-height: 1.6;
}

h1,h2,h3,h4{
  font-family: $serif;
}


//responsive typography
@media screen and (min-width: 50em){
  html{
    //font-size: 2vw;
  }
}
@media screen and (min-width: 75em){
  html{
    //font-size: 1.5rem;
  }
}
