#intro{
  background-image: url('/public/img/index-bg.png');
  background-size: cover;
  height: 33em;
  padding-top: 3.8em;
  @include single-box-shadow(0, -69px, 83px, -50px, rgba($color-primary, 0.9), inset);

  & > div{
    color: white;
    margin-left: 10%;
    width: 33em;
    h1,h2{
      display: inline-block;
      //background-color: $color-primary;
      padding-left: 1.5rem;
      padding-right: 1.25rem;
    }
    h1{
      margin-bottom: 0;
      font-size: 3.8em;

    }
    h2{
      font-family: $aleo;
      font-weight: lighter;
      font-style: italic;
      font-size: 2em;

    }
  }
}

.intro-cta{
  width: 80%;
  margin-right: auto;

  a{
    margin-left: 1em;
    margin-right: 1em;

    &:first-child{
      float: left;
    }
    &:nth-of-type(2){
      float: right;
    }
  }
}

#work{
  background: $color-primary;
  height: auto;
  @include single-box-shadow(0px, -80px, 80px, 100px, rgba($color-primary, 0.9), false);
}

.work-sample-group{
  display: flex;
  flex-flow: row wrap;
  flex: 0 1 auto;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center;
  z-index: 3;
}

//place-holder class to keep it 'DRY'
%work-sample{
  display: inline;
  height: 20em;
  background: white;
  overflow: hidden;
  &>img{
    position: relative;
    width: 100%;
  }
}

.work-sample-large{
  @extend %work-sample;
  flex-basis: 50%;
  position: static;
  width: 45%;
  max-width:69.69em;
}

.work-sample-small{
  @extend %work-sample;
  flex-basis: 25%;
  margin: 0 auto 0 auto;
  width: 23%;
  img{
    // width: auto;
    // height: 100%;
  }
}

#stories{
  position: relative;
  & > div{
    width: 75%;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
  }
}
.case-studies-group{
  padding-bottom: 5em;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}
.case-study{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.case-image-wrap{
  display: inline;
  width: 18em;
  overflow: hidden;
}
.case-image{
  width: inherit;
  &:hover{
    transform: scale(500px);
  }
}
.case-about{
  float:right;
  display: inline-block;
  width: 50%;

  margin-bottom:auto;
  position: relative;
  vertical-align: top;

  h2{
    color: $color-primary;
    font-family: 'Raleway', sans-serif;
  }
  p{
    color: black;
    position: relative;
  }
  button{
    align-self: flex-end;
  }
}

.intro--divider{
  background: $color-accent;
  padding-top: 12rem;
  margin-top: -3rem;
  & > h3{
    @extend h1;
    display: inline-block;
    margin-left: 20%;
    color: white;
  }
}


////////// Begin Responsive Styles -----------------------


@media (max-width: 1100px){
  .work-sample-group{
    width: 85%;
  }
  %work-sample{
    height: 100%;
  }
  .work-sample-large{
    flex-basis: 100%;
  }
  .work-sample-small{
    flex-basis: 50%;
  }
  .case-studies-group{
    width: 70%;
  }
}

@media (max-width: 64.3em){//900px
  .case-studies-group{
    width: 100%;
  }
  .intro--divider{
    h3{
      margin-left: 2rem;
    }
  }
}

@media (max-width: 49.29em){
  .intro-cta a{
    &:nth-of-type(1){
      display:none;
    }
    &:nth-of-type(2){
      display:block;
      //margin-left:auto;
      margin-right:auto;
      float:none;
    }
  }

  #stories > div{
    width: 85%;
  }



}

@media (max-width: 47em){ // 750px
  #intro{
    display: flex;
    flex-direction: column;
    //align-items: center;
    div{
      h2 span{
        display: block;
        font-style: italic;
        font-weight: lighter;
      }
    }
  }//End #intro
  .work-sample-group{
    width: 90%;
  }
  .case-image-wrap{
    width: 45%;
  }
}// end media query

@media(max-width:42.14em){
  #intro{
    & > div{
      width: 87%;
      // margin-left: 3em;
      text-align: center;
      margin-left:auto;
      margin-right: auto;
    }
    .intro-cta {
      margin-right:auto;
      margin-left:auto;

      a:nth-of-type(2) {
        display:block;
        margin-left:auto;
        margin-right:auto;
      }
    }
  }
}

@media(max-width: 38.07em){//550px
  .case-image-wrap{
    display: inline;
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    height: 20em;
  }
  .case-image{
    // transform: translateY(-8em);
  }
  .case-about{
    width: 100%;
    float:none;
    p, & h2{
      width: 100%;
    }
    a{
      display: block;
      margin: 2em auto 0 auto;
    }
  }
}

@media (max-width: 34.3em){ // 480.1999px
  #intro > div {
    margin-left: auto;
    margin-right: auto;
    width: 100%
  }
  .case-about{
    a{
      position: relative;
    }
  }
}
@media (max-width: 30.71em){
  #intro{
    padding-bottom: 3em;
  }
  #stories > div{
    width: 95%;
    & h1, & h2 {
      background: none;
    }
    h1{
      font-size: 3.3em;
    }
    h2{
      font-size: 1.5em;
      span{
        display: inline;
      }
    }
  }
}
