#intro{
  background-image: url('/public/img/test.png');
  background-size: cover;
  background-position:center;
  height: 45rem;
  padding-top: 3.8em;

  & > div{
    color: $color-primary-light;
    margin-left: 10%;
    h1, h2{
      display: inline-block;
    }

  }
}
.header-title{
  margin-bottom: 0;
  font-size: 4.2rem;
  font-weight: lighter;
  color: white;
  display: inline-block;

}
.subheader{
  font-size: 2.5rem;
  margin-top: 0;

}

.intro-cta{
  width: 27rem;
  margin-right: auto;

  a{
    margin-left: 1em;
    margin-right: 1em;

    &:first-child{
      float: left;
    }
    &:nth-of-type(2){
      float: right;
    }
  }
}

#work{
  //height: auto;
}

.work-sample-group{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  flex: 0 1 auto;
  width: 85%;
  margin: -15rem auto 5rem auto;
  position: relative;
  text-align: center;
  z-index: 3;
}

//place-holder class to keep it 'DRY'
%work-sample{
  //background: white;
  &>img{
    position: relative;
    width: 100%;
  }
}

.work-sample-large{
  @extend %work-sample;
  display:block;
  width:100%;
  margin: 0 auto 0 auto;
  //max-width:69.69em;
}

.work-sample-small{
  @extend %work-sample;
  display:inline-block;
  flex-basis: 50%;
  width: 50%;
  height: auto;
  img{
    // width: auto;
    // height: 100%;
  }
}

#stories{
  //position: relative;
  padding-top: 3rem;
  background-color: $color-accent;
  & > div{
    h2{
      margin-bottom: 5rem;
      color: white;
    }
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
}
.case-studies-group{
  padding-bottom: 5em;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}
.case-study{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.case-image-wrap{
  display: inline;
  width: 18em;
  overflow: hidden;
}
.case-image{
  width: inherit;
  &:hover{
    transform: scale(500px);
  }
}
.case-about{
  float:right;
  display: inline-block;
  width: 50%;

  margin-bottom:auto;
  position: relative;
  vertical-align: top;

  h3{

  }
  p{
    color: black;
    position: relative;
  }
  button{
    align-self: flex-end;
  }
}


////////// Begin Responsive Styles -----------------------


@media (max-width: 1100px){
  .work-sample-group{
    width: 85%;
  }
  %work-sample{
    height: 100%;
  }
  .work-sample-large{
    flex-basis: 100%;
  }
  .work-sample-small{
    flex-basis: 50%;
  }
  .case-studies-group{
    width: 70%;
  }
}

@media (max-width: 64.3em){//900px
  .case-studies-group{
    width: 100%;
  }
  .intro--divider{
    h3{
      margin-left: 2rem;
    }
  }
}

@media (max-width: 49.29em){
  .intro-cta a{
    &:nth-of-type(1){
      display:none;
    }
    &:nth-of-type(2){
      display:block;
      //margin-left:auto;
      margin-right:auto;
      float:none;
    }
  }


  #stories > div{
    width: 85%;
  }



}

@media (max-width: 47em){ // 750px
  #intro{
    display: flex;
    flex-direction: column;
    //align-items: center;
    div{
      h2 span{
        display: block;
        font-style: italic;
        font-weight: lighter;
      }
    }
  }//End #intro
  .work-sample-group{
    width: 90%;
  }
  .case-image-wrap{
    width: 45%;
  }
}// end media query

@media(max-width:42.14em){
  #intro{
    & > div{
      width: 87%;
      text-align: center;
      margin-left:auto;
      margin-right: auto;
    }
    .intro-cta {
      margin-right:auto;
      margin-left:auto;
      text-align: center;

      a:nth-of-type(2) {
        display:block;
        margin-left:auto;
        margin-right:auto;
      }
    }
  }
  .work-sample-small, .work-sample-large{
    width: 100%;
    height: auto;
    overflow: hidden;
    flex-basis: 100%;
  }
}

@media(max-width: 38.07em){//550px
  .case-image-wrap{
    display: inline;
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    height: 20em;
  }
  .case-image{
    // transform: translateY(-8em);
  }
  .case-about{
    width: 100%;
    float:none;
    p, & h2{
      width: 100%;
    }
    a{
      display: block;
      margin: 2em auto 0 auto;
    }
  }
}

@media (max-width: 34.3em){ // 480.1999px
  #intro > div {
    margin-left: auto;
    margin-right: auto;
    width: 100%
  }
  .case-about{
    a{
      position: relative;
    }
  }
}
@media (max-width: 30.71em){
  #intro{
    padding-bottom: 3em;
  }
  #stories > div{
    width: 95%;
    & h1, & h2 {
      background: none;
    }
    h1{
      font-size: 3.3em;
    }
    h2{
      font-size: 1.5em;
      span{
        display: inline;
      }
    }
  }
}
